{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if current_user.name == 'SuperAdmin' %}
<!--            <a href="/super_admin" class="alert-link"></a>-->
            <a href="/super_admin" class="btn btn-primary">Check global</a>
            {% endif %}
    <h1>Station № {{ current_user.citi }}, {{ citi_str }}</h1>


    <div class="row">
        <div class="col-8">

            <h2>Actual data</h2>
            <table class="table table-inverse">
                <thead>
                <tr>
                    <th>childbearing</th>
                    <th>quantity</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>


                <tr>
                    <th scope="row"> males</th>
                    <td>{{ counts[0] }} things</td>
                    <td>{% for x in range(counts[0]) %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
</svg>{% endfor %}</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row"> females</th>
                    <td>{{ counts[1] }} things</td>
                    <td>{% for x in range(counts[1]) %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
</svg>{% endfor %}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-inverse">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>id</th>
                    <th>Sex</th>
                    <th>is_childbearing</th>
                </tr>
                </thead>
                <tbody>


                {% for u in query %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ u[1] }}</td>
                    <td>{{ u[2] }}</td>
                    <td>{{ u[4] }}</td>

                </tr>
                {% endfor %}

            </table>
        </div>
        <br>
        <div class="col-4">
            <h3>{{ weather_text }}</h3>
        </div>

    </div>
</div>

{% endblock %}
